.CampoTexto {
    border: 1px solid var(--preto);
    padding: 0.25rem 0.75rem;
    width: 25rem;
}

@media (max-width: 500px) {
    .CampoTexto {
        width: 18rem;
    }
}

@media (max-width: 350px) {
    .CampoTexto {
        width: 14rem;
    }
}